.App {
  text-align: center;
}


.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.follower-header {
  font-size: 4.5rem;
      backdrop-filter: brightness(40%);
      color: honeydew;
      margin-top: 30px;
}



